*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    background: linear-gradient(to right,#240b36,#c31432);
    width: 180px;
    height: 50px;
    border: none;
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
    border-radius: 0 25px;
    position: relative;
    transition: all .6s;
}
.btn:hover{
    border-radius: 25px 0;
}
.btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right,#c31432,#240b36);
    width: 100%;
    height: 100%;
    filter: blur(22px);
    transform: scale(0.9,0.8) translateY(20px) ;
    z-index: -1;
    opacity: 0;
    transition: all.6s;
}
.btn:hover::before{
    opacity: 1;
}